.top{
 background-image: url('header 4.jpg');
 border: 5px black;
 border-style: solid;
}

.me{
 background-image: url('header 4.jpg');
 border: 5px black;
 border-style: solid;
}

.links{
 background-image: url('header 4.jpg');
 border: 5px black;
 border-style: solid;
}

.sidenav{
 height: 100%;
 width: 0;
 position: fixed;
 z-index: 1;
 top:0;
 left:0;
 background-image: url('sidenavbg1.jpg');
 overflow-x: hidden;
 padding-top: 20px;
 transition: 0.5s;
}

.sidenav a{
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 font-size: 25px;
 color: rgb(0, 0, 0);
 display: block;
 transition: 0.5s;
}

.sidenav a:hover{
color:grey;
}

.sidenav .closebtn{
 position: absolute;
 top:0;
 right: 25px;
 font-size: 36px;
 margin-left: 50px;
}

.main{
 margin-left: 160px;
 padding: 0px 10px;
}

#main {
 transition: margin-left 0.5s;
 padding: 20px;
}

@media screen and(max-height: 450px){
 .sidenav{padding-top: 15px;}
 .sidenav a{font-size: 18px;}
}
